<div id="everything">
	<h1>You have successfully made it to the Nevermore webserver!</h1>
	<div id="body">
		<p>
			Why "Nevermore?" you ask? 
		</p>
		<p>
			Maybe you didn't, but I'm going to tell you anyway (my Internet is intermittant, making a mess of my homework).
		</p>
		<p> 
			Once upon a school day dreary, I was typing, weak and weary,<br>
			Over many a quaint and clumsy language I'd forgot before,<br>
			While I whimpered, nearly cracking, suddenly there came a smacking,<br>
			And I could only continue clacking, clacking, on the keys some more.<br>
			"Write a server," I muttered, "clacking on the keys some more--<br>
			Only this, and nothing more."
		</p>
		<p>
			As if applauding April's fever, flowers lift their heads so eager<br>
			Blazing skies beckoning our souls to come and soar<br>
			Eagerly I wished the morrow; --vainly to escape the harrow<br>
			From the loans I had to borrow; --borrow for a future chore<br>
			For a job that pays a living wage and seems like less a chore<br>
			Office manager nevermore.
		</p>
		<p>
			And the sparrows' sordid chirping joyful tunes while I sat working<br>
			Thrilled me-- filled me with the urge to flee to freedom's door<br>
			So that now, to still the beating of my heart, I stood repeating<br>
			"Write a server to serve some files on the keys before--<br>
			I'll write this webserver serving files on the keys before<br>
			Only this, and nothing more."
		</p>
		<p>
			Presently my typing quickened, trying for the quality weekend,<br>
			Where I, and my children, could dig into the garden floor<br>
			But the fact was I was cracking, and must keep the keyboard clacking<br>
			I had no time for mental cracking, must complete assignments lacking<br>
			So I flipped a birdie at the birds, --and left off lacking at my chore<br>
			Sighing so to clack some more.
		</p>
		<p>

		</p>
	</div>
</div>